div.red {
    background-color:red;
    opacity: 0.5;
} 

div.green {
    background-color:green;
    opacity: 0.5;
} 

div.yellow {
    background-color:yellow;
    opacity: 0.5;
} 

div.orange {
    background-color:orange;
    opacity: 0.5;
} 

div.lightblue {
    background-color:lightblue;
    opacity: 0.5;
} 

div.grey {
    background-color:grey;
    opacity: 0.5;
} 

