#   ****  Generated on 2016-02-18 16:05:10.999000 by pyzmq  ****
#   ZeroMQ CURVE **Secret** Certificate
#   DO NOT PROVIDE THIS FILE TO OTHER USERS nor change its permissions.

metadata
curve
    public-key = "u9K6K^#T(FPMDmwgFfP-s:CEOF=zyFP#ta3j+/0#"
    secret-key = "------PUT-YOUR-PRIVATE-KEY-HERE-AND-RENAME-FILE-TO client.key_secret  ------"
