{    
	"WebServerPort" : "8081",
    "EventCollectorPort" : "8999",
    "RouterUrl" 	  : "tcp://127.0.0.1:8000",
	"CacheEndToken"   : "KTHXBYE",
	"CacheStartToken" : "ICANHAZ?",
	"ZmqPubURL"		  : "tcp://127.0.0.1:7001"  ,
	"SocketEndPoint" : "/socket"
}